* {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  color: #FF6060;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
}

h2 {
  font-weight: 600;
  font-size: 1.25rem;
}

a {
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  text-decoration: underline;
  transform: scale(1.025);
}

div#root {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
div#root > * {
  padding: 0 60px;
}

header#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
}
header#header img {
  height: 50px;
}
header#header nav ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0;
}
header#header nav ul li {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
main > .first-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
main > .first-banner > img {
  height: 200px;
  width: 100%;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.75);
}
main > .first-banner > h1 {
  color: white;
  position: absolute;
}
main > section.housing-cards {
  background-color: #E6E6E6;
  border-radius: 15px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 30px;
}
main > section.housing-cards > a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
main > section.housing-cards > a > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main > section.housing-cards > a > h2 {
  color: white;
  position: absolute;
  padding: 15px;
}
main > section.housing-cards a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
}
main article#presentation-logement {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
main article#presentation-logement > div#carrousel-pictures {
  width: 100%;
  max-height: 350px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}
main article#presentation-logement > div#carrousel-pictures > img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main article#presentation-logement > div#carrousel-pictures > div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
}
main article#presentation-logement > div#carrousel-pictures > div .fa-chevron-left,
main article#presentation-logement > div#carrousel-pictures > div .fa-chevron-right {
  font-size: 50px;
  color: white;
  cursor: pointer;
}
main article#presentation-logement > div#informations-logement {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main article#presentation-logement > div#informations-logement > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main article#presentation-logement > div#informations-logement > div:nth-child(1) > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main article#presentation-logement > div#informations-logement > div:nth-child(1) > div:nth-child(1) > h2 {
  font-size: 1.5rem;
}
main article#presentation-logement > div#informations-logement > div:nth-child(1) > div:nth-child(1) > div {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
main article#presentation-logement > div#informations-logement > div:nth-child(1) > div:nth-child(1) > div > button {
  background-color: #FF6060;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 15px;
}
main article#presentation-logement > div#informations-logement > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main article#presentation-logement > div#informations-logement > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
main article#presentation-logement > div#informations-logement > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  overflow: hidden;
}
main article#presentation-logement > div#informations-logement > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > img {
  width: 100%;
  height: 100%;
}
main article#presentation-logement > div#informations-logement > div:nth-child(1) > div:nth-child(2) > div#housing-reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
main div#display-others-informations {
  gap: 60px;
  display: flex;
  flex-direction: row;
}
main .box-information {
  border-radius: 10px;
  width: 100%;
  position: relative;
}
main .box-information * {
  color: white;
}
main .box-information > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}
main .box-information > *:nth-child(2) {
  background: #F6F6F6;
  color: #FF6060;
  border-radius: 10px;
  transition: all 1s;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
main .box-information > *:nth-child(2) * {
  color: #FF6060;
}
main .box-information > *:nth-child(2) > ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  list-style: none;
}
main div#display-about-info {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
}
main div#display-about-info .box-information {
  width: 100%;
}

footer#footer {
  background-color: black;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
footer#footer * {
  color: white;
}
footer#footer img {
  height: 25px;
}

@media (max-width: 1023px) {
  h1 {
    font-size: 1.5rem;
  }
  div#root {
    gap: 30px;
  }
  div#root > * {
    padding: 0 15px;
  }
  div#root > header#header {
    gap: 30px;
    padding: 15px;
  }
  div#root > header#header img {
    height: 30px;
  }
  div#root main > .first-banner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  div#root main > .first-banner > img {
    height: 150px;
  }
  div#root main > .first-banner > h1 {
    font-size: 1.5rem;
    padding: 0 15% 0 5%;
  }
  div#root main > section.housing-cards {
    grid-template-columns: 1fr;
    padding: 0;
    background-color: initial;
  }
  div#root main > article#presentation-logement {
    gap: 30px;
  }
  div#root main > article#presentation-logement > div#carrousel-pictures {
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    width: initial;
    min-height: initial;
  }
  div#root main > article#presentation-logement > div#carrousel-pictures > div:nth-child(1) {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
  }
  div#root main > article#presentation-logement > div#carrousel-pictures > div:nth-child(1) i {
    color: white;
    font-size: 33px;
  }
  div#root main > article#presentation-logement > div#carrousel-pictures img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  div#root main > article#presentation-logement > div#informations-logement > div:nth-child(1) {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  div#root main > article#presentation-logement > div#informations-logement > div:nth-child(1) > div {
    flex-direction: column;
    width: 100%;
  }
  div#root main > article#presentation-logement > div#informations-logement > div:nth-child(1) > div > div {
    flex-direction: column;
    gap: 10px;
  }
  div#root main > article#presentation-logement > div#informations-logement > div:nth-child(1) > div:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  div#root main > article#presentation-logement > div#informations-logement > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    flex-direction: row;
  }
  div#root main > article#presentation-logement > div#informations-logement > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) div {
    width: 40px;
    height: 40px;
  }
  div#root main > article#presentation-logement > div#informations-logement > div:nth-child(1) > div:nth-child(2) > div#housing-reviews {
    gap: 5px;
  }
  div#root main div#display-others-informations,
  div#root main div#display-about-info {
    flex-direction: column;
    gap: 15px;
    gap: 30px;
  }
  div#root main div#display-others-informations > .box-information,
  div#root main div#display-about-info > .box-information {
    width: 100%;
  }
  div#root footer#footer {
    padding: 40px 80px;
    gap: 15px;
  }
  div#root footer#footer > p {
    text-align: center;
  }
}/*# sourceMappingURL=index.css.map */