* {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  color: #FF6060;
  margin: 0;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
}

h2 {
  font-weight: 500;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  transform: scale(1.025);
}

div#root {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
div#root > * {
  padding: 0 60px;
}

header#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px 15px 60px;
}
header#header img {
  height: 50px;
}
header#header nav ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0;
}
header#header nav ul li {
  list-style: none;
}

.first-banniere {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-banniere img {
  height: 200px;
  width: 100%;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.5);
}
.first-banniere h1 {
  color: white;
  position: absolute;
}

main {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

section.housing-cards {
  background-color: #E6E6E6;
  border-radius: 15px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 30px;
}
section.housing-cards a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
section.housing-cards a img {
  background-size: cover;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
section.housing-cards a h2 {
  color: white;
  position: absolute;
  padding: 15px;
}
section.housing-cards a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
}

article#presentation-logement {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
article#presentation-logement > div:first-child {
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}
article#presentation-logement > div:first-child > img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
article#presentation-logement > div:first-child > div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
}
article#presentation-logement > div:first-child > div .fa-chevron-left,
article#presentation-logement > div:first-child > div .fa-chevron-right {
  font-weight: 900;
  font-size: 50px;
  color: white;
  cursor: pointer;
}
article#presentation-logement > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
article#presentation-logement > div div#context-logement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
article#presentation-logement > div div#context-logement div#identifiants-logement {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
article#presentation-logement > div div#context-logement div#identifiants-logement h2 {
  font-size: 2rem;
}
article#presentation-logement > div div#context-logement div#identifiants-logement div#boutons-logements {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
article#presentation-logement > div div#context-logement div#identifiants-logement div#boutons-logements button {
  background-color: #FF6060;
  color: white;
  border: none;
  padding: 5px 30px;
  border-radius: 15px;
}
article#presentation-logement > div div#context-logement div#identification-review-logement {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
article#presentation-logement > div div#context-logement div#identification-review-logement div#proprietaire-logement {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
article#presentation-logement > div div#context-logement div#identification-review-logement div#proprietaire-logement div {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  overflow: hidden;
}
article#presentation-logement > div div#context-logement div#identification-review-logement div#proprietaire-logement div img {
  width: 100%;
  height: 100%;
}
article#presentation-logement > div div#context-logement div#identification-review-logement div#review-logement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
article#presentation-logement > div div#information-logement {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: flex-start;
}
article#presentation-logement > div div#information-logement * {
  color: white;
}
article#presentation-logement > div div#information-logement .box-information {
  background-color: #FF6060;
  border-radius: 15px;
  padding: 15px;
  width: 50%;
}
article#presentation-logement > div div#information-logement .box-information > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
article#presentation-logement > div div#information-logement .box-information > *:nth-child(2) {
  margin-top: 15px;
}

footer#footer {
  background-color: black;
  padding: 30px 60px 15px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
footer#footer img {
  height: 30px;
}
footer#footer p {
  color: white;
}

@media (max-width: 1023px) {
  h1 {
    font-size: 1.5rem;
  }
  div#root {
    gap: 30px;
  }
  div#root > * {
    padding: 0 15px;
  }
  header#header {
    gap: 30px;
    padding: 15px;
  }
  header#header img {
    height: 30px;
  }
  .first-banniere {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .first-banniere img {
    height: 115px;
  }
  .first-banniere h1 {
    font-size: 1.5rem;
    padding: 0 15% 0 5%;
  }
  section.housing-cards {
    grid-template-columns: 1fr;
    padding: 0;
    background-color: initial;
  }
  article#presentation-logement div :first-child {
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    width: initial;
    min-height: initial;
  }
  article#presentation-logement div :first-child img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  article#presentation-logement div :first-child div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
  }
  article#presentation-logement div :first-child div i {
    color: white;
    font-size: 50px;
  }
  article#presentation-logement > div div#context-logement {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  article#presentation-logement > div div#context-logement div#identifiants-logement div#boutons-logements {
    flex-direction: column;
  }
  article#presentation-logement > div div#information-logement {
    flex-direction: column;
  }
  footer#footer {
    padding: 40px 80px;
    gap: 15px;
  }
  footer#footer p {
    text-align: center;
  }
}/*# sourceMappingURL=index.css.map */